* {
  font-family: Optimist, Helvetica Neue, Helvetica, Arial, Helvetica, sans-serif;
}

html {
  background: #f4f4f4;
}

body {
  margin: 0;
}

.card {
  border: 1px solid #d4d4d4;
  border-radius: 8px;
  background: #fff;
  width: max-content;
  margin: 4rem auto;
  padding: 1rem;
}